#category-total {
  background-color: $theme-color-white;
  color: $font-color-dark;
  text-align: right;
}

.category-chart-block {
  padding: 15px;
  margin: 15px 0px 15px 0px;
  background-color: $theme-color-black;
}

.tags-element {
  margin-right: 15px;
}

.tags-element a {
  color: $font-color-dark;
}

.tags-symbol {
  color: $theme-color;
}
