#category-chart-container {
  background-color: $theme-color-black;
}

#category-total {
  color: $font-color-light;
  margin: 15px 0px 15px 0px;
  text-align: right;
}

.category-chart-block {
  padding: 15px;
  margin: 15px 0px 15px 0px;
  background-color: $theme-color-black;
}
