#category-total {
  color: $font-color-dark;
}

.category-chart-block {
  border-top: 1px solid $theme-color-black;
  border-bottom: 1px solid $theme-color-black;
  padding: 15px;
  margin: 15px 0px 15px 0px;
}

.tags-element {
  margin-right: 15px;
}

.tags-element a {
  color: $font-color-dark;
}

.tags-symbol {
  color: $theme-color;
}
