.post-title {
  font-weight: bold;
}

.post-block {
  line-height: 25px;
  position: relative;
}

.post-block h1 {
  background-color: $theme-color;
  border: 1px solid $theme-color-black;
  color: $theme-color-black;
  margin-bottom: 45px;
}

.post-block h2 {
  margin-top: 25px;
  background-color: $theme-color-gray;
  color: $theme-color-black;
  // border: 1px solid $theme-color-black;

  display: inline-block;

  background-color: $theme-color-black;
  color: $font-color-light;
}

.post-block h2::after {
  content: "";
  width: 100%;
  position: absolute;
  display: block;
  border-bottom: 1px solid $theme-color-black;
}
